<div class="bot-msg">
  <span class="bot-avatar">
    <mat-icon>person</mat-icon>
  </span>

  @if (!loading) {
    <div>
      <div #content class="msg-text">
        <span [innerHTML]="msg.text | markdown"></span>
      </div>
      @if (msg.feedbackEnabled) {
        <div class="msg-actions">
          <button
            matIconButton
            type="button"
            aria-label="Menssagem útil"
            [attr.selected]="msg.helpful"
            (click)="likeButtonSelect(msg)"
          >
            <mat-icon class="material-symbols-outlined">thumb_up</mat-icon>
          </button>
          <button
            matIconButton
            type="button"
            aria-label="Menssagem inútil"
            [attr.selected]="msg.helpful == false"
            (click)="unlikeButtonSelect(msg)"
          >
            <mat-icon class="material-symbols-outlined">thumb_down</mat-icon>
          </button>
        </div>
      }
    </div>
  } @else {
    <span class="msg-text">
      <app-chat-loading/>
    </span>
  }
</div>
