:host {

  .bot-msg {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    max-width: 90%;

    .bot-avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .msg-text {
      display: flex;
      width: fit-content;
      padding: 4px 18px 4px 4px;
      border-radius: 16px;
      max-width: 68%;

      app-chat-loading {
        margin: 18px 6px;
      }

      &::before {
        content: "";
        position: relative;
        top: 8px;
        left: -10px;
        width: 14px;
        height: 12px;
        border-bottom-right-radius: 12px;
        transform: rotate(410deg);
      }
    }

    .msg-actions {
      display: flex;
      justify-content: end;
      max-width: 68%;

      button {
        display: flex;
        width: 30px;
        height: 30px;
        justify-content: center;

        mat-icon {
          font-size: large;
        }
      }
    }
  }
}
