@use '@angular/material' as mat;

@mixin default-theme($theme, $info-theme) {
  .dialog-confirm-content-msg {
    color: mat.get-theme-color($theme, error, 35);
  }
}

@mixin high-contrast-theme($theme, $info-theme) {
}
