:host {
  display: flex;
  gap: 6px;
  margin-top: 10px;

  button {
    height: 34px;

    //&.selected {
    //  background-color: lightblue;
    //}

    &.btn-libras {
      mat-icon {
        margin-top: 2px;
      }
    }
  }
}
