<button
  aria-label="Habilitar leitura de tela"
  [attr.aria-pressed]="mode.voiceEnabled"
  matButton="outlined"
  [ngClass]="{ 'selected': mode.voiceEnabled }"
  (click)="selectVoiceMode()"
>
  <mat-icon class="material-symbols-outlined">transcribe</mat-icon>
  Voz
</button>
<button
  aria-label="Gerar texto simplificado"
  [attr.aria-pressed]="mode.simplifiedTextEnabled"
  matButton="outlined"
  [disabled]="!hasUserMessage"
  [ngClass]="{ 'selected': mode.simplifiedTextEnabled }"
  (click)="selectTextMode()"
>
  <mat-icon class="material-symbols-outlined">textsms</mat-icon>
  Texto simplificado
</button>
<button
  aria-label="Habilitar V-Libras"
  class="btn-libras"
  matButton="outlined"
  (click)="selectVelibrasMode()"
>
  <mat-icon svgIcon="libras"></mat-icon>
  Libras
</button>
