<form [formGroup]="form" class="card-input-form">
  <mat-form-field appearance="outline">
    <input
      formControlName="msg"
      matInput
      [placeholder]="activatedMic ? 'Aguardando áudio...' : 'Digite sua mensagem...'"
      (keyup.enter)="sendTextMsg()"
    >
  </mat-form-field>

  <div class="card-input-form-actions">
    <button
      matIconButton type="button"
      (mousedown)="startRecord()"
      (mouseup)="stopRecord()"
    >
      <mat-icon class="material-symbols-outlined">mic</mat-icon>
    </button>
    <button matIconButton type="button">
      <mat-icon class="material-symbols-outlined" (click)="sendTextMsg()">play_arrow</mat-icon>
    </button>
  </div>
</form>
