
.card-input-form {
  display: flex;
  justify-content: space-between;
  align-items: center;

  mat-form-field {
    width: -webkit-fill-available;
  }

  .card-input-form-actions {
    width: 20%;
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-bottom: 17px;
  }
}
