
@use "../app/features/chat/chat.page/components/card-mode-actions/card-mode-actions.theme";
@use "../app/features/chat/chat.page/components/card-chat-msgs/components/chat-bot-msg/chat-bot-msg.theme";
@use "../app/features/chat/chat.page/components/card-chat-msgs/components/chat-user-msg/chat-user-msg.theme";
@use "../app/features/chat/chat.page/chat-page.theme";
@use "../app/features/chat/chat.page/components/card-input-actions/card-input-actions.theme";

@use "../app/shared/dialogs/components/app-dialog/app-dialog.theme";
@use "../app/shared/dialogs/components/app-dialog-confirm/app-dialog-confirm.theme";
@use "../app/shared/dialogs/components/info-dialog/info-dialog.theme";


@mixin default-theme($theme, $info-theme) {
  @include card-mode-actions.default-theme($theme, $info-theme);
  @include chat-bot-msg.default-theme($theme, $info-theme);
  @include chat-user-msg.default-theme($theme, $info-theme);
  @include chat-page.default-theme($theme, $info-theme);
  @include card-input-actions.default-theme($theme, $info-theme);

  @include app-dialog.default-theme($theme, $info-theme);
  @include app-dialog-confirm.default-theme($theme, $info-theme);
  @include info-dialog.default-theme($theme, $info-theme);
}

@mixin high-contrast-theme($theme, $info-theme) {
  @include card-mode-actions.high-contrast-theme($theme, $info-theme);
  @include chat-bot-msg.high-contrast-theme($theme, $info-theme);
  @include chat-user-msg.high-contrast-theme($theme, $info-theme);
  @include chat-page.high-contrast-theme($theme, $info-theme);
  @include card-input-actions.high-contrast-theme($theme, $info-theme);

  @include app-dialog.high-contrast-theme($theme, $info-theme);
  @include app-dialog-confirm.high-contrast-theme($theme, $info-theme);
  @include info-dialog.high-contrast-theme($theme, $info-theme);
}
