<mat-card class="chat-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Chatboot inclusivo</mat-card-title>
    <div class="chat-card-header-actions">
      <app-high-contrast />
      <button matButton="outlined">
        <mat-icon class="material-symbols-outlined">settings</mat-icon>
        Configurações
      </button>
      <button class="help-button" matButton="outlined">
        <mat-icon class="material-symbols-outlined">help</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <app-card-mode-actions (onModeChange)="onModeChange($event)" />
    <app-card-chat-msgs
      [mode]="mode"
      [msgs]="msgs"
      [loading]="chatLoading"
    />
  </mat-card-content>
  <mat-card-footer class="chat-card-actions">
    <app-card-input-actions
      (onSendMsg)="sendMsg($event)"
    />
  </mat-card-footer>
</mat-card>
