<mat-card class="chat-card" appearance="outlined" appFocusTts>
  <mat-card-header>
    <mat-card-title>Chatbot inclusivo</mat-card-title>
    <div class="chat-card-header-actions">
      <app-high-contrast />
      <button
        class="help-button"
        matButton="outlined"
        aria-label="Ajuda"
        [attr.aria-pressed]="openedDialog"
        (click)="openInfoDialog()"
      >
        <mat-icon class="material-symbols-outlined">help</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <app-card-mode-actions
      [mode]="mode"
      (onModeChange)="onModeChange($event)"
      (onOpenVlibrasChange)="onOpenVlibrasChange()"
    />
    <app-card-chat-msgs
      [mode]="mode"
      [state]="state"
      [msgs]="msgs"
      [loading]="chatLoading"
      (resendMsg)="sendMsg($event)"
    />
  </mat-card-content>
  <mat-card-footer class="chat-card-actions">
    <app-card-input-actions
      [mode]="mode"
      [loading]="chatLoading"
      (onSendMsg)="sendMsg($event)"
    />
  </mat-card-footer>
</mat-card>
