:host {

  .user-msg {
    display: flex;
    justify-content: flex-end;
    max-width: 90%;

    .msg-text {
      display: flex;
      width: fit-content;
      border-radius: 16px;
      max-width: 68%;
      //color: white;
      //background-color: #2F6DF6;
      padding: 14px 8px 14px 14px;

      &::after {
        content: "";
        position: relative;
        right: -14px;
        width: 14px;
        height: 12px;
        //background: #2F6DF6;
        border-bottom-left-radius: 12px;
        transform: rotate(310deg);
      }

      app-chat-loading {
        margin-left: -16px;
      }
    }
  }
}
