
.dialog-chat {
  display: flex;
  flex-direction: column;
  margin: 6px 20px -4px 0;
  gap: 10px;
  max-height: 54vh;
  overflow-y: auto;
  //scroll-behavior: smooth;

  .user-msg {
    display: flex;
    justify-content: flex-end;
    max-width: 90%;

    .msg-text {
      display: flex;
      width: fit-content;
      padding: 14px 20px 14px 4px;
      border-radius: 16px;
      max-width: 68%;

      &::after {
        content: "";
        position: relative;
        right: -14px;
        width: 14px;
        height: 12px;
        border-bottom-left-radius: 12px;
        transform: rotate(310deg);
      }

      app-chat-loading {
        margin-left: -16px;
      }
    }
  }
}
