<div class="dialog-chat"
     [appAutoScroll]="msgs.length"
     [autoScrollBehavior]="'smooth'"
     [autoScrollThreshold]="80"
     [autoScrollAnchor]="end"
>
  @for (msg of msgs; track msg.id; let i = $index) {
    @if (msg.role == 'bot') {
      <app-chat-bot-msg [mode]="mode" [msg]="msg" [loading]="isLastLoading(msg)" />
    } @else {
      <div class="user-msg">
        <span class="msg-text" [innerHTML]="msg.text"></span>
      </div>
    }
  } @empty {
    <span>Nenhum registro</span>
  }
  <div #end></div>
</div>
